body {
    background-color: #111;
    margin: 0;
}

#water-surface {
    background-image: url(images/bottom-of-the-sea-6277155_1920.jpg);
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#water-surface .ripple {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
    animation: ripple-wave 10s linear;
}

#water-surface .ripple .light {
    width: inherit;
    height: inherit;
    position: absolute;
    background-image: radial-gradient(transparent 50%, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.616), transparent 70%);
}

#water-surface .ripple .displace {
    width: inherit;
    height: inherit;
    position: absolute;
    background-image: url(images/bottom-of-the-sea-6277155_1920.jpg);
    background-attachment: fixed;
    transform: scale(1.1);
    -webkit-mask-image: radial-gradient(transparent 40%, black, transparent 66%);
}

@keyframes ripple-wave {
    from {
        transform: scale(0.1);
        opacity: 1;
    }
    to {
        transform: scale(10);
        opacity: 0;
    }
}